//output:audio-with-transcript.html
//{
    pageTitle: 'Discovering Hamlet',
    audioTitle: 'Hamlet',
    audioSubtitle: 'Act III, Scene 1',
    audiofile: {
      name: "audio/Hamlet_Tobeornottobe_64kb.mp3",
      type: "audio/mpeg"
      },
    verses: [
      {
        start: 0.0,
        end: 8.609,
        text: "To be or not to be-that is the question:"
      },
    ],
    credit:{
      uri: "https://archive.org/details/ElfmansReadings_Hamlet",
      text: "archive.org/Elfman101"
    }
  }

doctype html
html
  head
    title=pageTitle
    script(src="js/jquery/2.2.2/jquery.min.js")
    script(src="js/jquery/2.2.2/audio-transcript.js")
    style(src="css/base.css")
    style(src="css/voice.css")
    
    div#transcript
      h1=audioTitle
      h1=audioSubtitle
      audio(id="ob-audio-target") 
        source(type=audiofile.type, src=audiofile.name)
        | Your browser does not support HTML5 audio.
      p
        for verse in verses
          span.verse(start=verse.start, end=verse.end)=verse.text
          br
    p audio from 
      a(href=credit.uri)=credit.text
  body
    
