div#transcript
  h1=audioTitle
  h1=audioSubtitle
  audio(id="ob-audio-target", controls)
    source(type=audiofile.type, src=audiofile.name)
    | Your browser does not support HTML5 audio.
  p
    for verse in verses
      span.verse(start=verse.start, end=verse.end)=verse.text
      br
p audio from
  a(href=credit.uri)=credit.text
