mixin flags24(selectedCountryCode, countryCodes)
  ul.flags
    li
      img(src="/img/icons/flags-iso/24/" + selectedCountryCode + ".png")
    each countryCode in countryCodes
      li
        img(src="/img/icons/flags-iso/24/" + countryCode + ".png")
mixin flags64(selectedCountryCode, countryCodes)
  ul.flags
    li
      img(src="/img/icons/flags-iso/24/" + selectedCountryCode + ".png")
    each countryCode in countryCodes
      li
        img(src="/img/icons/flags-iso/24/" + countryCode + ".png")
mixin breadcrumbs(sectionHeadings)
  ul#crumbs
    each sectionHeading in sectionHeadings
      li(class=sectionHeading.isCurrentSection === false ? "" : "current")
        a(href=sectionHeading.sectionUrl)!=sectionHeading.sectionTitle


html
  head
    title=pageTitle
    for dep in css
      link(href="css/"+dep.filename, rel='stylesheet')
    for dep in js
      script(src="javascript/"+dep.filename)
  body
    div.head
      h2=lessonTitle
      +breadcrumbs(headingSectionDetails)
      hr.headingSplitter
    div.content(class=hasTransitions === true  ? "scene_element scene_element--fadeinright" : "")
      |!{ body }
