div
	h1!=imageTitle
	h2!=imageSubtitle
	div.container
		div#image
			img#thumb(width="600px", src=imageFile.name, type=imageFile.type)
		div#commentary
			for line in commentary
				p!=line.text
		div.clear
		div.credit
			p commentary from
				| 
				a(href=credit.uri)=credit.text
